# =========================================================
# ENTROPY FOLDERWORKS - PARÂMETROS DE AMBIENTE (TEMPLATE PÚBLICO)
# =========================================================

# Empresa 1
EMPRESA1_NAME="EMPRESA 01"
EMPRESA1_SOURCE_PATH="\\\\192.168.1.10\\gpo\\criarpastas\\MODELO"
EMPRESA1_DESTINATION_PATH="\\\\192.168.1.10\\arquivos\\CLIENTES\\EMPRESAS"
EMPRESA1_AD_IP="192.168.1.10"
EMPRESA1_AD_USER="DOMINIO\\pasta.servico"
EMPRESA1_AD_PASS=""

# Empresa 2 (Opcional)
EMPRESA2_NAME="EMPRESA 02"
EMPRESA2_SOURCE_PATH="\\\\192.168.2.10\\gpo\\criarpastas\\MODELO"
EMPRESA2_DESTINATION_PATH="\\\\192.168.2.10\\arquivos\\CLIENTES\\EMPRESAS"
EMPRESA2_AD_IP="192.168.2.10"
EMPRESA2_AD_USER="DOMINIO\\pasta.servico"
EMPRESA2_AD_PASS=""

# Segurança e Auditoria TI
TI_LOGS_PASSWORD=""
