# =========================================================
# ENTROPY FOLDERWORKS - PARÂMETROS CORPORATIVOS EMBUTIDOS NO MSI
# =========================================================

# Empresa RELIQUIA
RELIQUIA_NAME="RELIQUIA"
RELIQUIA_SOURCE_PATH="\\\\192.168.100.30\\gpo\\criarpastas_paralegal\\MODELO"
RELIQUIA_DESTINATION_PATH="\\\\192.168.1.242\\reliquia-arquivos\\CLIENTES\\EMPRESAS"
RELIQUIA_AD_IP="192.168.100.30"
RELIQUIA_AD_USER="RELIQUIA\\pasta.paralegal"
RELIQUIA_AD_PASS="Mestre@300"

# Empresa RTO
RTO_NAME="RTO"
RTO_SOURCE_PATH="\\\\192.168.50.102\\gpo\\criarpastas_paralegal\\MODELO"
RTO_DESTINATION_PATH="\\\\192.168.50.102\\rto\\CLIENTES\\EMPRESAS"
RTO_AD_IP="192.168.50.102"
RTO_AD_USER="pasta.paralegal"
RTO_AD_PASS="Mestre@300"
